/* Document style */
html {
  height: 100%;
}

body {
  background-color: #f3f3f3;
  color: #777; /* Previously #aaa */
  position: relative;
  /*margin: 0;*/
  padding-bottom: 100px;
  min-height: 100%;
  font-size: 20px;
  padding-right: auto; /*15px in bootstrap.css*/
     padding-left: auto;  /*idem*/
     margin-right: auto;
     margin-left: auto;
}
@media (max-width: 1200px) { body { font-size: 18px; }}
@media (max-width: 767px) { body { font-size: 16px; }}


@font-face{
	font-family: 'Roboto';
	src: url('../fonts/roboto/roboto.ttf') format('truetype');
}
@font-face{
	font-family: 'Roboto Mono';
	src: url('../fonts/roboto_mono/roboto_mono.ttf') format('truetype');
}
.row {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;    /* Center content */
  justify-content: center;

}

/* Document style end */

/* Nav style */
.navbar-brand,
.navbar-toggle,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}
.navbar-toggle {
  padding-right: 25px;
  padding-left: 25px;
  margin: 0;
  border: 0;
}
.navbar {
  margin: 0;
  background-color: #f3f3f3;
}
/* Nav style end */

header {
  /*background-image: url("/img/temporary.jpg");
  background-position: right bottom;*/
  background-color: #4f924f;
  height: 90vh;
}
header .header-text {
}
header h1 {
  color: white;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
}
header h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
}
header .btn-default {
  font-family: 'Roboto', sans-serif;
}


/* Logo style */
@font-face{
	font-family: 'DS-Digital-Bold';
	src: url('../fonts/ds-digital/ds-digib.eot');
	src: url('../fonts/ds-digital/ds-digib.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/ds-digital/ds-digib.ttf') format('truetype'),
	     url('../fonts/ds-digital/ds-digib.svg#webfont') format('svg');
}
@font-face{
	font-family: 'DS-Digital';
	src: url('../fonts/ds-digital/ds-digi.eot');
	src: url('../fonts/ds-digital/ds-digi.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/ds-digital/ds-digi.ttf') format('truetype'),
	     url('../fonts/ds-digital/ds-digi.svg#webfont') format('svg');
}
/*@font-face{
	font-family: 'DS-Digital-Italic';
	src: url('../fonts/ds-digital/ds-digii.eot');
	src: url('../fonts/ds-digital/ds-digii.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/ds-digital/ds-digii.ttf') format('truetype'),
	     url('../fonts/ds-digital/ds-digii.svg#webfont') format('svg');
}
@font-face{
	font-family: 'DS-Digital-Italic-Bold';
	src: url('../fonts/ds-digital/ds-digit.eot');
	src: url('../fonts/ds-digital/ds-digit.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/ds-digital/ds-digit.ttf') format('truetype'),
	     url('../fonts/ds-digital/ds-digit.svg#webfont') format('svg');
}*/
.logo-temp {
    font-family: DS-Digital-Bold;
    color: #34AB00;
}

.logo-monitor {
    font-family: DS-Digital;
    color: #666666;
}
/* Logo style end */

/* Footer style */
.footer {
  position: absolute;
	height:100px;
  margin: 0;
  right: 0;
  bottom: 0;
  left: 0;;
  background-color:#222125;
	color:#aaa;
}
.footer a {
	text-decoration:none;
	color:#aaa;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.footer a:hover {
	color: #797979;
}
.left-footer {
  position:absolute; top:50%; transform:translateY(-50%); left:30px;
}
/* Footer style end */
