<!-- Footer -->
	<div class="col-xs-12 footer" style=" ">
		<div class="left-footer" style="">
			<b>© Temp monitor UF 2016</b>
			<br>
			<p style="font-size:0.8em;">Open source licenced - see <a href="https://tldrlegal.com/license/mit-license" style="opacity:0.6;">legal</a> for more information</b> 
		</div>
		<span class="right-footer" style="">
			<a class="fa fa-facebook" aria-hidden="true" href="http://www.facebook.com/tempmonitor"></a>
			<a class="fa fa-instagram" aria-hidden="true" href="https://www.instagram.com/tempmonitor/"></a>
			<a class="fa fa-github" aria-hidden="true" href="https://github.com/TempMonitor"></a>
		</span>
	</div>
	<!-- Footer end -->
		
  </body>

	
	<!-- Header JS -->
	  <!-- classie.js by @desandro: https://github.com/desandro/classie -->
	  <!-- Credit to Mary Lou, Codrops, http://tympanus.net/codrops/2013/06/06/on-scroll-animated-header/ -->
	  <script src="js/classie.js"></script>
	  <script src="js/cbpAnimatedHeader.min.js"></script>
	  
	<!-- Common JS -->
	  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	  <script src="js/jquery-3.1.0.min.js"></script>
	  <script src="js/bootstrap.min.js"></script>
</html>