
{{ partial "header_before.html" . }}
{{ partial "header_after.html" . }}


    <div class="header-fill">
        <div class="header-info">
            <h1><span class="logo-temp">Temp</span><span class="logo-monitor">monitor</span></h1>
            <hr>
            <h2>Comming soon</h2>
    
        </div>
        <div class="header-start">
            <a href="#" class="header-scroll">
                <i class="fa fa-angle-double-down fa-4x"></i>
            </a>
        </div>
    </div>

   <div class="main-content">    
            <div class="container">    
                <div class="row">
                    <div class="col-md-8">
                        <h2>What?</h2>
                        <hr>
                        <p>Temp monitor is an open source and hardware monitor to show system resources such as CPU and GPU temperature, fan speeds, RAM usage, GPU and CPU load.</p>
                        
                        <h2>Why?</h2>
                        <hr>                        
                        <p>There are similary products on the market such as fan speed controllers, but these usualy only show air temperature and fan speeds and not the actual temperatures of the components or any other information. Temp monitor instead shows the actual temperatures and information collected by the computer. This provide an easy way of monitor you computer while playing or using it as an server and can help optimizing computer performence, health and maximizing computer lifetime.</p>
                        
                        <p>Temp monitor comes with an open license meaning that if you feel that any function is missing or should be change you can take part in the design and programing.</p>
                        
                        <h2>How?</h2>
                        <hr>
                        <p>Temp monitor is simple to use and plugs in with a micro-USB cable to your computer. Install our simple software and you're ready to go. When installed and plugged in the computer software collects information and sends it to the monitor.</p>
                        
                        
                    </div>
                    <div class="col-md-4">
                        {{ partial "sidebar.html" . }}                                               
                    </div>
                </div>
            </div>

{{ partial "footer.html" . }}
