{{ partial "header_before.html" . }}
{{ partial "header_after.html" . }}

    <!-- Header cover -->
	<div style="position: relative; background-color:#222125; background-size:cover; height:100vh; background-repeat: no-repeat;">
		<!-- Prototype img, with tilt -->
		<!--<img src="img/prototyp.svg" class="hero__img tilt-effect" data-tilt-options='{ "opacity" : 0.6, "movement": { "perspective" : 1500, "translateX" : 10, "translateY" : 10, "translateZ" : 2, "rotateX" : 3, "rotateY" : 3 } }'>
		-->
		<img src="img/prototyp.svg" style="display: block; margin: auto; position: absolute; top:55%; left:50%; transform: translate(-50%, -50%); height:70vh;">
	</div>
	<!-- Header cover end -->

	<!-- Content -->
	<div class="col-sm-6" style="height:100vh; background-color:#c2e8b5;">
		<div class="row" style="height:50vh;">
			<div class="col-xs-6" style="height:100%; background-color:#e2db8e;"></div>
			<div class="col-xs-6" style="height:100%; background-color:#8ee2dd;"></div>
		</div>
	</div>
	<div class="col-sm-6" style="height:100vh; background-color:#e8b5b5;">
		<p>
		Temp monitor is simple to use and plugs in with a micro-USB cable to your computer. Install our simple software and you're ready to go. When installed and plugged in the computer software collects information and sends it to the monitor. Temp monitor is simple to use and plugs in with a micro-USB cable to your computer. Install our simple software and you're ready to go. When installed and plugged in the computer software collects information and sends it to the monitor. Temp monitor is simple to use and plugs in with a micro-USB cable to your computer. Install our simple software and you're ready to go. When installed and plugged in the computer software collects information and sends it to the monitor.
		</p>
	</div>
	<div class="col-sm-6" style="height:100vh;">
		<div class="row" style="height:50vh; background-color:#8ee2dd;"></div>
		<div class="row" style="height:50vh; background-color:#e8b5b5;"></div>
	</div>
	<div class="col-sm-6" style="height:100vh;">
		<div class="row" style="height:50vh; background-color:#97d6c1;"></div>
		<div class="row" style="height:50vh; background-color:#e2db8e"></div>
	</div>
	<!-- Content end -->

{{ partial "footer.html" . }}
