{{ partial "header_before.html" . }}
{{ partial "header_after.html" . }}

<div class="main-content">    
    <div class="container">
        <h1>{{ .Title }}</h1>
        
        {{ range .Data.Pages }}
        
            <row>
                <div class="col-md-12"><h2><a href="{{ .Permalink }}"> {{ .Title }}</a></h2></div>
            </row>

            <row>
                <div class="col-md-2"><p>{{ .Date.Format "2006-01-02" }}</p></div>
                <div class="col-md-10">
                    <p>{{ .Summary }}</p>
                    <h3 align="right"><a href="{{ .Permalink }}">Read more</a></h3> 
                </div>
            </row>     
        {{ end }}
    </div>

    {{ partial "pagination.html" . }}
{{ partial "footer.html" . }}

